In [1]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [3]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\welcome\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\welcome\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE usttrainingdb")

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('cilu',)
('core-project',)
('django',)
('djangoattendance',)
('djangobooks',)
('djangoemp',)
('djangofk1',)
('djangofk2',)
('djangofkey',)
('djangointernship',)
('djangojobkit',)
('djangologreg',)
('djangomovie',)
('djangonew',)
('djangoreg',)
('djangosample',)
('djangoshiva',)
('djangotest',)
('djangotrace',)
('djangotracenew',)
('djanoinsrt',)
('enkel_slughet',)
('fmain',)
('information_schema',)
('infoxxx',)
('mydatabasenew',)
('mysql',)
('newdb',)
('newdb1',)
('newtest',)
('nikitha',)
('performance_schema',)
('phpdb',)
('phpmyadmin',)
('regphp',)
('sam222',)
('sample',)
('sample1',)
('sample112',)
('sample123',)
('sample2',)
('selin',)
('shilpa',)
('shivaprjt',)
('ss123',)
('ssss123',)
('stc',)
('test',)
('test1',)
('test12',)
('test123',)
('testnew',)
('testsample',)
('tet123',)
('ttest123',)
('usttrainingdb',)
('vishnu',)

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="usttrainingdb"
)

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="usttrainingdb"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Student (name VARCHAR(255), address VARCHAR(255))")

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="usttrainingdb"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('student',)

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="usttrainingdb"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE student ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="usttrainingdb"
)

mycursor = mydb.cursor()

sql = "INSERT INTO student(name, address,id) VALUES (%s, %s, %s)"
val = ("selin", "silverlane",1)
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [3]:
#insert multiple record
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="usttrainingdb"
)

mycursor = mydb.cursor()

sql = "INSERT INTO student (name, address,id) VALUES (%s, %s, %s)"
val = [
  ('Jenny', 'Lowstreet 4',2),
  ('Amy', 'Apple st ',3),
  ('Jisha', 'Mountain villa',4),
  ('Anju', 'Valley 345',5),
  ('Abel', 'Rose Villa',6),
  ('Betty', 'Green Grass 1',7),
  ('Richard', 'Sky lane',8),
  ('Susan', 'One way 98',9),
  ('Vicky', 'Yellow Garden 2',10),

  
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

9 was inserted.

In [4]:
#lastrowid
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="usttrainingdb"
)

mycursor = mydb.cursor()

sql = "INSERT INTO student (name, address,id) VALUES (%s, %s, %s)"
val = ("Anu", "Blue Village",11)
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 11

In [5]:
#Select
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="usttrainingdb"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM student")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('selin', 'silverlane', 1)
('Jenny', 'Lowstreet 4', 2)
('Amy', 'Apple st ', 3)
('Jisha', 'Mountain villa', 4)
('Anju', 'Valley 345', 5)
('Abel', 'Rose Villa', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky lane', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Anu', 'Blue Village', 11)

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="usttrainingdb"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM student")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('selin', 'silverlane')
('Jenny', 'Lowstreet 4')
('Amy', 'Apple st ')
('Jisha', 'Mountain villa')
('Anju', 'Valley 345')
('Abel', 'Rose Villa')
('Betty', 'Green Grass 1')
('Richard', 'Sky lane')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Anu', 'Blue Village')

In [8]:
#fetchone
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="usttrainingdb"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM student")

myresult = mycursor.fetchone()

print(myresult)

('selin', 'silverlane', 1)

In [9]:
#Where
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="usttrainingdb"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM student WHERE address ='Valley 345'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Anju', 'Valley 345', 5)

In [10]:
#delete
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="usttrainingdb"
)
mycursor = mydb.cursor()

sql = "DELETE FROM student WHERE address = 'Yellow Garden 2'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [11]:
#update
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="usttrainingdb"
)

mycursor = mydb.cursor()

sql = "UPDATE student SET address = 'dark gloo' WHERE address = 'One way 98'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected